@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.avatars-demo {
  height: 100%;
  background: $background-color-2;
}

.avatar-block {
  .#{$demo-prefix}block__content {
    display: flex;

    & > .#{$component-prefix}avatar {
      margin-right: 14px * $hd;
    }
  }

  .avatar-dot {
    right: 6px * $hd,;
    bottom: 2px * $hd
  }

  .avatar-avatar {
    --badge-background-color: transparent;
    --badge-padding: 0;
    --badge-size: #{12px * $hd};
    --avatar-size: var(--badge-size);
    right: 6px * $hd,;
    bottom: 2px * $hd
  }
}
