@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.checkbox-demo {

  .custom-color {
    --checkbox-checked-icon-border-color: #ee0a24;
    --checkbox-checked-icon-background-color: #ee0a24;
  }

  .checkbox-cell-group {
    .#{$demo-prefix}block__content {
      padding: 0;
    }
  }
}
