@use "@taroify/core/styles/prefix" as *;

.flex-demo {
  background-color: var(--background-color, #f7f8fa);

  .#{$component-prefix}flex {
    margin-bottom: 10px;
  }

  .#{$component-prefix}flex-item {
    height: 30px * 2;
    font-size: 13px * 2;
    line-height: 30px * 2;
    color: #fff;
    text-align: center;
    background-clip: content-box;

    &:nth-child(odd) {
      background-color: #39a9ed;
    }

    &:nth-child(even) {
      background-color: #66c6f2;
    }
  }
}
