@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.pull-refresh-demo {
  background: $background-color-2;

  .#{$component-prefix}pull-refresh {
    height: calc(100vh + 100px);

    .pull-text {
      padding: 16px * $hd 0 0 16px * $hd;
      font-size: 16px * $hd;
    }
  }

  .doge {
    width: 140px * $hd;
    height: 72px * $hd;
    margin-top: 8px * $hd;
    border-radius: 4px * $hd;
  }
}
