@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.dropdown-menu-demo {
  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .custom-color {
    --dropdown-menu-title-active-color: #1989fa;
    --dropdown-menu-option-active-color: #1989fa;
  }
}
