@use "./variables" as *;

// TODO The base variables need to be migrated
.#{$component-prefix}cell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: $cell-vertical-padding $cell-horizontal-padding;
  overflow: hidden;
  font-size: $cell-font-size;
  line-height: $cell-line-height;
  color: $cell-color;
  background: $cell-background-color;

  &::after {
    @include hairline-bottom($cell-border-color, var(--padding-sm, $padding-sm), var(--padding-sm, $padding-sm));
  }

  &:last-child::after,
  &--borderless::after {
    display: none;
  }

  &__title,
  &__value {
    flex: 1;
    min-width: 0;
  }

  &--required {
    .#{$component-prefix}cell__title::before {
      padding-right: $cell-required-padding-right;
      font-size: $cell-font-size;
      color: $cell-required-color;
      content: '*';
    }
  }

  &__brief {
    margin-top: $cell-brief-margin-top;
    font-size: $cell-brief-font-size;
    line-height: $cell-brief-line-height;
    color: $cell-brief-color;
  }

  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }

  &--large {
    padding-top: $cell-vertical-padding-large;
    padding-bottom: $cell-vertical-padding-large;

    .#{$component-prefix}cell__title {
      font-size: $cell-title-font-size-large;
    }

    .#{$component-prefix}cell__brief {
      font-size: $cell-brief-font-size-large;
    }

    .#{$component-prefix}cell__value {
      font-size: $cell-value-font-size-large;
    }
  }

  &--clickable {
    cursor: pointer;

    &:active {
      background: $cell-active-color;
    }
  }

  &--active {
    background: $cell-active-color;
  }

  &__value {
    position: relative;
    overflow: hidden;
    font-size: $cell-value-font-size;
    color: $cell-value-color;
    text-align: right;
    word-wrap: break-word;

    &--empty {
      flex: 0 0 auto;
    }

    &--alone {
      color: $text-color;
      text-align: left;
    }
  }

  &__icon,
  &__right-icon {
    display: flex;
    flex: none;
    align-items: center;
    height: $cell-line-height;
    font-size: $cell-icon-size;
    line-height: $cell-line-height;
  }

  &__icon {
    margin-right: $cell-left-icon-margin-right;
  }

  &__right-icon {
    margin-left: $cell-right-icon-margin-left;
    color: $cell-right-icon-color;
  }

  &__extra {
    display: flex;
    flex: none;
    align-items: center;
    margin-left: $cell-extra-margin-left;
  }
}
