@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.switch-demo {

  .switch-with-cell {
    .#{$demo-prefix}block__content {
      padding: 0;
    }
  }

  .custom-color {
    --switch-background-color: #dcdee0;
    --switch-checked-color: #ee0a24;
  }
}
