@use "@taroify/core/styles/prefix" as *;
@use "../../../styles/prefix" as *;

.index-list-demo {
  .#{$demo-prefix}block__content {
    padding: 0;
  }

  &_btn {
    margin: 40px 0;
  }

  &_wrap {
    box-sizing: border-box;
    height: 100%;
    padding-top: 80px;
  }
}
