@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.divider-demo {
  background: $background-color-2;

  .#{$demo-prefix}page__content {
    padding: 0 0 20px * $hd 0;
    background: inherit;
  }
}
