@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.uploader-demo {
  background: $background-color-2;
  overflow-y: auto;

  .preview-cover {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 4px * $hd;
    color: #fff;
    font-size: 12px * $hd;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
  }
}
