@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.calendar-demo {
  .#{$component-prefix}popup {
    overflow: hidden;
  }

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .#{$demo-prefix}block-card {
    margin-top: 0;
  }
}
