@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.collapse-demo {
  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .custom-collapse-item1 {
    .#{$component-prefix}cell__title {
      display: flex;
      align-items: center;

      .van-icon-question-o {
        margin-left: 5px * $hd;
        color: $primary-color;
      }
    }
  }
}
