@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.radio-demo {

  .radio-cell-group {
    .#{$demo-prefix}block__content {
      padding: 0;
    }
  }

  .custom-color {
    --radio-checked-icon-background-color: #ee0a24;
    --radio-checked-icon-border-color: #ee0a24;
  }
}
