@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.swipe-cell-demo {

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .custom-swipe-cell {

    .#{$component-prefix}swipe-cell__actions {
      .#{$component-prefix}button {
        height: 100%;
      }
    }

    .custom-card {
      position: relative;
      box-sizing: border-box;
      display: flex;
      padding: 8px * $hd 16px * $hd;
      font-size: 12px * $hd;
      color: $text-color;
      background: $background-color-2;

      &__thumb {
        position: relative;
        flex: none;
        width: 88px * $hd;
        height: 88px * $hd;
        margin-right: 8px * $hd;
      }
    }
  }
}
