@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.timeline-demo {

  .#{$demo-prefix}block__content {
    display: flex;
    padding: 0;
  }

  .#{$demo-prefix}timeline-block {
    flex: 1;
  }

  .timeline-title {
    font-size: 24px * $hd;
  }
}

