@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.loading-demo {

  .#{$demo-prefix}page__content {
    background: $background-color-2;
  }

  .#{$component-prefix}loading--vertical {
    display: inline-flex;
  }

  .custom-color {
    color: #1989fa;
  }

  .custom-text-color {
    .#{$component-prefix}loading__text {
      color: #1989fa;
    }
  }
}
