@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.slider-demo {
  background: $background-color-2;

  .#{$demo-prefix}block__content {
    padding: 0 16px * $hd 20px * $hd;
  }

  .vertical-slider {
    .#{$demo-prefix}block__content {
      height: 150px * $hd;
      padding-left: 30px * $hd;
    }
  }

  .custom-color {
    --slider-active-background-color: #ee0a24;
  }

  .custom-thumb {
    width: 26px * $hd;
    font-size: 10px * $hd;
    line-height: 18px * $hd;
    color: #fff;
    text-align: center;
    background-color: var(--slider-active-background-color);
    border-radius: 100px * $hd;
  }
}
