@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.notice-bar-demo {

  .#{$demo-prefix}page__content {
    background: $background-color-2;
  }

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .notice-swiper {
    height: 40px * $hd;
    line-height: 40px * $hd;
  }
}
