@use "@taroify/core/styles/variables" as *;
@use "../../../styles/prefix" as *;

.skeleton-demo {
  .#{$demo-prefix}page__content {
    background: $background-color-2;
  }

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .demo-switch {
    margin-left: 32px;
  }

  .demo-preview {
    display: flex;
    padding: 0 32px;
  }

  .demo-image {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    margin-right: 32px;
  }

  .demo-content {
    padding-top: 12px;
    font-size: 28px;
    line-height: 40px;
  }
}
