@use "@taroify/core/styles/prefix" as *;
@use "@taroify/core/styles/variables" as *;

.image-demo {
  overflow-y: auto;
  background: $background-color-2;

  .#{$component-prefix}flex-item {
    margin-bottom: 10px * $hd;
  }

  .text {
    display: block;
    margin-top: 5px * $hd;
    font-size: 14px * $hd;
    color: $text-color;
    text-align: center;
  }
}
